@model BibleVerse.DTO.Users;
@{
    ViewData["Title"] = "Login";
}
    <div class="container">
        <h1 class="text-center">Login</h1>

        <div class="container">
            @using (Html.BeginForm("LoginUser", "Login", FormMethod.Post))
            {
            <form class="form-group" method="post" action="Login/LoginUser">
                <label for="userEml">Email:</label>
                <input id="userEml" name="Email" type="email" class="form-control" required />
                <label for="userPwd">Password:</label>
                <input id="userPwd" name="Password" type="password" class="form-control" required />
                <br />
                <input type="submit" class="btn btn-primary form-control" />
            </form>
            }
        </div>

        <p>Don't have an account? Click <a asp-area="" asp-controller="Register" asp-action="Index">here</a> to register</p>
    </div>
