@using Microsoft.AspNetCore.Identity;
@using Newtonsoft.Json;
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Confirmation";
    string confirmationMessage = "";
    List<IdentityError> errors = new List<IdentityError>();

    if(ViewBag.Errors != null)
    {
        confirmationMessage = "Account not confirmed! There were the following errors:";
        errors = ViewBag.Errors;
    } else
    {
        confirmationMessage = "Email Confirmation Successful!";
    }
}

<h1>Account Confirmation</h1>
<div>
   <span style="color: red;">@confirmationMessage</span>
    @{
        if(errors.Count < 1)
        {
            <a asp-area="" asp-controller="Home" asp-action="Login">Login Here!</a>
        } else
        {
            <ul style="color: red;">
                @{
                    foreach(IdentityError e in errors)
                    {
                        <li>@e.Description</li>
                    }
                }
            </ul>
        }
    }
</div>