@using Newtonsoft.Json
@model BibleVerse.DTO.Users;
@{
    var currUser = ViewBag.CurrentUser;
    TempData["userStatus"] = "logged in";
}
<div class="container">
    <h1>Welcome @currUser.Username</h1>

    User ID: @currUser.UserId
    Username: @currUser.Username
    User DOB: @currUser.DOB
</div>
