@model BibleVerse.DTO.PostModel;
@using BibleVerse.DTO
@using Newtonsoft.Json
@{
    Layout = "../Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Home";
    UserViewModel user = JsonConvert.DeserializeObject<UserViewModel>(ViewBag.CurrUser.ToString());
}
<div class="container">
    <div id="upstat">
        @Html.BeginForm("", "", FormMethod.Post)
        {
            @Html.TextAreaFor(x => x.Body)
            <input type="submit" value="Create Post"/>
        }
    </div>
    <div id="tl"></div>
</div>
