
@{
    ViewData["Title"] = "UserRegistration";
}

<div class="text-center">
    <h1 class="display-1">UserRegistration</h1>
    <form method="post" class="form-group">
        <label for="userName">UserName:</label>
        <input id="userName" class="form-control" />
        <input type="submit" value="Register"/>
    </form>
</div>

